<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title}) ">
    <meta charset="UTF-8">
    <title>博客列表</title>
    <!--适应移动端-->
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <!--引入 semanticUI css-->
    <link rel="stylesheet" href="../../static/lib/semanticUI/semantic.min.css">
    <!--引入自定义样式-->
    <link rel="stylesheet" href="../../static/css/me.css">
    <!--引入 editorMd css-->
    <link rel="stylesheet" href="../../static/lib/editormd/css/editormd.css" />
    <link rel="shortcut icon" href="https://pandao.github.io/editor.md/favicon.ico" type="image/x-icon" />
</head>
<body>
<!--导航-->
<nav th:replace="admin/_fragments :: menu(1)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
    <div class="ui container">
        <!--stackable 可堆叠适应手机端-->
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">管理后台</h2>
            <a href="#" class="active item m-mobile-hide"><i class=" home icon"></i>博客</a>
            <a href="#" class="item m-mobile-hide"><i class=" idea icon"></i>分类</a>
            <a href="#" class="item m-mobile-hide"><i class=" tags icon"></i>标签</a>
            <div class="right menu">
                <div class="ui dropdown item">
                    <div class="text">
                        <img class="ui avatar image" src="../../static/images/head1.jpg">
                        lifanyu
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu m-item">
                        <a href="#" class="item ">注销</a>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="ui icon button m-top-right m-mobile-show menu toggle">
            <i class="sidebar icon"></i>
        </a>
    </div>
</nav>

<!--中间内容-->
<div class="m-margin-top">
    <div class="ui container">
        <div class="ui pointing menu">
            <a href="#" class="item">发布</a>
            <a href="#" class="item active">列表</a>
        </div>
        <div class="ui segment m-margin-massive">
            <div class="ui form middle aligned m-margin-top-small">
                <div class="fields">
                    <div class="field m-margin-left">
                        <input name="table-title" type="text" placeholder="标题">
                    </div>
                    <div class="field">
                        <!-- ============下拉框 ============= -->
                        <select name="table-type" class="ui search dropdown">
                            <option value="">--请选择--</option>
                            <option th:each="type:${typeList}" th:value="${type.typeId}" th:text="${type.typeName}"></option>
                        </select>
                    </div>
                    <!-- ======== 下拉框清除按钮 ========== -->
                    <div class="ui clear button">清除</div>
                    <div class="field m-margin-left">
                        <div class="ui checkbox m-margin-top-big">
                            <input name="recommend" type="checkbox" tabindex="0" class="hidden">
                            <label>推荐</label>
                        </div>
                    </div>
                    <button id="searchBtn" class="ui teal basic button m-margin-left-massive">搜索</button>
                </div>
            </div>
        </div>
        <div id="table-content" class="ui teal segment">
            <table th:fragment="blogList" class="ui celled table">
                <thead>
                <tr>
                    <th>标题</th>
                    <th>类型</th>
                    <th>状态</th>
                    <th>更新时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="blog,iterStat:${page.content}">
                    <td th:text="${blog.title}">No Name Specified</td>
                    <td th:text="${blog.type.typeName}">Unknown</td>
                    <td class="negative" th:text="${blog.published} ? '发布':'草稿'">原创</td>
                    <td class th:text="${blog.updateTime}">2019-11-26</td>
                    <td>
                        <a th:href="@{/admin/blogs/input/{id}(id=${blog.blogId})}" class="ui orange basic button">更新</a>
                        <a th:href="@{/admin/blogs/delete/{id}(id=${blog.blogId})}" class="ui red basic button">删除</a>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <th colspan="7">
                    <div class="ui mini pagination menu" th:if="${page.totalPages}>1" >
                        <input type="hidden" name="page">
                        <a onclick="page(this)" th:attr="data-page=${page.number}-1"  class="item" th:unless="${page.first}">上一页</a>
                        <a onclick="page(this)" th:attr="data-page=${page.number}+1"  class=" item" th:unless="${page.last}">下一页</a>
                    </div>
                    <a href="#" th:href="@{/admin/blogs/input}" class="ui mini right floated teal basic button">新增</a>
                </th>
                </tfoot>
            </table>
        </div>
    </div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br>
<!--底部 vertical去除圆角-->
<!-- 居中使用 center aligned-->
<!--<footer th:replace="_fragments :: footer" class="ui center aligned inverted vertical segment m-padded-tb-big">
    &lt;!&ndash;container 容器中的组居中&ndash;&gt;
    <div class="ui container">
        &lt;!&ndash;带有分割线的 grid, 相当于一行, 分割线使用 divided, 且默认为黑色, 因此在这里需要反转为白色.&ndash;&gt;
        &lt;!&ndash;让 grid 堆叠 适应手机端&ndash;&gt;
        <div class="ui inverted stackable divided grid">
            &lt;!&ndash;占有三列&ndash;&gt;
            <div class="three wide column">
                &lt;!&ndash;圆角的图片&ndash;&gt;
                &lt;!&ndash;图片居中&ndash;&gt;
                <img src="../../static/images/Wechat.png" alt="" class="ui centered rounded image" style="width: 110px">
            </div>
            &lt;!&ndash;占有三列&ndash;&gt;
            <div class="three wide column">
                <h4 class="m-text-spaced m-text-thin">最新博客</h4>
                &lt;!&ndash;使用 SemanticUI 的 ul&ndash;&gt;
                <div class="ui inverted link list">
                    &lt;!&ndash;使用 item 标记每一行&ndash;&gt;
                    <a href="#" class="item">关于练习的思考</a>
                    <a href="#" class="item">关于练习的思考</a>
                    <a href="#" class="item">关于练习的思考</a>
                </div>
            </div>
            &lt;!&ndash;占有三列&ndash;&gt;
            <div class="three wide column">
                <h4 class="m-text-spaced m-text-thin">联系我</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Email: 159984575@qq.com</a>
                    <a href="#" class="item">QQ: 1509984575</a>
                </div>
            </div>
            &lt;!&ndash;占有七列&ndash;&gt;
            <div class="seven wide column">
                <h4 class="m-text-spaced m-text-thin">Blog</h4>
                <p class="m-text-thin m-opacity-mini m-text-lined m-text-spaced">emantic UI 把单词和类看作可以交换的概念处理,类用自然语言的语法，比如名词/修饰词的关系、次序，以及直观的多元链接概念。Semantic UI 像 BEM 和 SMACSS一样的高效，且更加优秀。</p>
            </div>
        </div>
    </div>
    &lt;!&ndash;在下面加一条线 reverted反转颜色 section线与上面有间隔 &ndash;&gt;
    <div class="ui reverted section divider"></div>
    <p class="m-text-thin m-text-spaced m-opacity-mini ">Copyright @2019 create by LFY</p>
</footer>-->

    <!--/*/<th:block>/*/-->
        <!-- 引入 jQuery -->
        <script src="../../static/js/jquery-3.4.1.min.js"></script>
        <!-- 引入 semanticUI 的 js 文件-->
        <script src="../../static/lib/semanticUI/semantic.min.js"></script>
        <script src="../../static/lib/editormd/editormd.min.js"></script>
        <script>
            /*--------注意 class 之间不能有间隔--------*/
            $('.menu.toggle').click(function () {
                $('.m-menu-toggle').toggleClass('m-mobile-hidden');
            });
            $('.ui.checkbox')
                .checkbox()
            ;
            var mdcontent;
            $(function() {
                mdcontent = editormd("md-content", {
                    width   : "100%",
                    height  : 640,
                    syncScrolling : "single",
                    path    : "../static/lib/editormd/lib/"
                });
            });
            //下拉框选择
            $('select.dropdown')
                .dropdown({
                    on: 'hover'
                })
            ;
            //清除搜索内容
            $('.clear.button')
                .on('click', function() {
                    $('.ui.dropdown')
                        .dropdown('clear')
                    ;
                })
            ;
            function page(obj) {
                $("[name='page']").val($(obj).data("page"));
                loadData();
            }
            // 局部刷新列表部分 利用 Thymeleaf 和 AJAX
            $("#searchBtn").click(function(){
                $("[name='page']").val(0);
                loadData();
            });
            function loadData(){
                $("#table-content").load(/*[[@{/admin/blogs/search}]]*/"/admin/blogs/search",{
                    title: $("[name='table-title']").val(),
                    typeId: $("[name='table-type']").val(),
                    recommend: $("[name='recommend']").prop('checked'),
                    page: $("[name='page']").val()
                });
            };
        </script>
    <!--/*/</th:block>/*/-->

</body>
</html>