<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title}) ">
    <meta charset="UTF-8">
    <title>博客发布页面</title>
    <!--适应移动端-->
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <!--引入 semanticUI css-->
    <link rel="stylesheet" href="../../static/lib/semanticUI/semantic.min.css">
    <!--引入自定义样式-->
    <link rel="stylesheet" href="../../static/css/me.css">
    <!--引入 editorMd css-->
    <link rel="stylesheet" href="../../static/lib/editormd/css/editormd.css" />
    <link rel="shortcut icon" href="https://pandao.github.io/editor.md/favicon.ico" type="image/x-icon" />
</head>
<body>
<!--导航-->
<nav th:replace="_fragments :: menu(-1)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
    <div class="ui container">
        <!--stackable 可堆叠适应手机端-->
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">管理后台</h2>
            <a href="#" class="active item m-mobile-hide"><i class=" home icon"></i>博客</a>
            <a href="#" class="item m-mobile-hide"><i class=" idea icon"></i>分类</a>
            <a href="#" class="item m-mobile-hide"><i class=" tags icon"></i>标签</a>
            <div class="right menu">
                <div class="ui dropdown item">
                    <div class="text">
                        <img class="ui avatar image" src="../../static/images/head1.jpg">
                        lifanyu
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu m-item">
                        <a href="#" class="item ">注销</a>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="ui icon button m-top-right m-mobile-show menu toggle">
            <i class="sidebar icon"></i>
        </a>
    </div>
</nav>
<!--中间内容-->
<div class="m-margin-massive">
    <div class="ui container">
        <div class="ui pointing menu">
            <a href="#" class="item active">发布</a>
            <a href="#" class="item">列表</a>
        </div>
        <div class="ui segment m-margin-massive">
            <div class="ui form">
                <div class="ui inline fields">
                    <div class="two wide field">
                        <select>
                            <option value="">原创</option>
                            <option value="1">转载</option>
                            <option value="0">翻译</option>
                        </select>
                    </div>
                    <div class="fourteen wide field">
                        <input type="text" placeholder="标题">
                    </div>
                </div>
                <div class="field">
                    <div id="md-content" style="z-index: 1 !important;">
                        <textarea placeholder="博客内容"></textarea>
                    </div>
                </div>
                <div class="ui inline fields">
                    <label for="type">分类</label>
                    <div class="six wide field">
                        <select id="type" class="ui basic teal">
                            <option value="">原创</option>
                            <option value="1">转载</option>
                            <option value="0">翻译</option>
                        </select>
                    </div>
                    <label for="tag">标签</label>
                    <div class="six wide field">
                        <select id="tag" class="ui basic teal">
                            <option value="">原创</option>
                            <option value="1">转载</option>
                            <option value="0">翻译</option>
                        </select>
                    </div>
                </div>
                <div class="ui inline fields">
                    <label for="imgAddr">首图地址</label>
                    <div class="ten wide field">
                        <input id="imgAddr" type="text" placeholder="图片地址">
                    </div>
                </div>
                <div class="inline field">
                    <div class="ui checkbox m-margin-right-small">
                        <input type="checkbox" tabindex="0" class="hidden">
                        <label>推荐</label>
                    </div>
                    <div class="ui checkbox m-margin-right-small">
                        <input type="checkbox" tabindex="0" class="hidden">
                        <label>转载声明</label>
                    </div>
                    <div class="ui checkbox m-margin-right-small">
                        <input type="checkbox" tabindex="0" class="hidden">
                        <label>赞赏</label>
                    </div>
                    <div class="ui checkbox">
                        <input type="checkbox" tabindex="0" class="hidden">
                        <label>评论</label>
                    </div>
                </div>
                <div class="ui field ">
                    <div class="ui grid right aligned">
                        <div class="five wide column"></div>
                        <div class="five wide column"></div>
                        <div class="six wide column">
                            <button class="ui red button ">返回</button>
                            <button class="ui blue button">保存</button>
                            <button class="ui green button">发布</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--底部 vertical去除圆角-->
<!-- 居中使用 center aligned-->
<footer th:replace="_fragments :: footer" class="ui center aligned inverted vertical segment m-padded-tb-big">
    <!--container 容器中的组居中-->
    <div class="ui container">
        <!--带有分割线的 grid, 相当于一行, 分割线使用 divided, 且默认为黑色, 因此在这里需要反转为白色.-->
        <!--让 grid 堆叠 适应手机端-->
        <div class="ui inverted stackable divided grid">
            <!--占有三列-->
            <div class="three wide column">
                <!--圆角的图片-->
                <!--图片居中-->
                <img src="../../static/images/Wechat.png" alt="" class="ui centered rounded image" style="width: 110px">
            </div>
            <!--占有三列-->
            <div class="three wide column">
                <h4 class="m-text-spaced m-text-thin">最新博客</h4>
                <!--使用 SemanticUI 的 ul-->
                <div class="ui inverted link list">
                    <!--使用 item 标记每一行-->
                    <a href="#" class="item">关于练习的思考</a>
                    <a href="#" class="item">关于练习的思考</a>
                    <a href="#" class="item">关于练习的思考</a>
                </div>
            </div>
            <!--占有三列-->
            <div class="three wide column">
                <h4 class="m-text-spaced m-text-thin">联系我</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Email: 159984575@qq.com</a>
                    <a href="#" class="item">QQ: 1509984575</a>
                </div>
            </div>
            <!--占有七列-->
            <div class="seven wide column">
                <h4 class="m-text-spaced m-text-thin">Blog</h4>
                <p class="m-text-thin m-opacity-mini m-text-lined m-text-spaced">emantic UI 把单词和类看作可以交换的概念处理,类用自然语言的语法，比如名词/修饰词的关系、次序，以及直观的多元链接概念。Semantic UI 像 BEM 和 SMACSS一样的高效，且更加优秀。</p>
            </div>
        </div>
    </div>
    <!--在下面加一条线 reverted反转颜色 section线与上面有间隔 -->
    <div class="ui reverted section divider"></div>
    <p class="m-text-thin m-text-spaced m-opacity-mini ">Copyright @2019 create by LFY</p>
</footer>
    <!--/*/<th:block>/*/-->
    <!-- 引入 jQuery -->
    <script src="../../static/js/jquery-3.4.1.min.js"></script>
    <!-- 引入 semanticUI 的 js 文件-->
    <script src="../../static/lib/semanticUI/semantic.min.js"></script>
    <script src="../../static/lib/editormd/editormd.min.js"></script>
    <script>
        /*--------注意 class 之间不能有间隔--------*/
        $('.menu.toggle').click(function () {
            $('.m-menu-toggle').toggleClass('m-mobile-hidden');
        });
        $('.ui.checkbox')
            .checkbox()
        ;
        var mdcontent;
        $(function() {
            mdcontent = editormd("md-content", {
                width   : "100%",
                height  : 640,
                syncScrolling : "single",
                path    : "../../static/lib/editormd/lib/"
            });
        });
        $('.ui .dropdown')
            .dropdown({
                on: 'hover'
            })
        ;
    </script>
    <!--/*/</th:block>/*/-->
</body>
</html>